.App {
    width: 100vw;
    background: #0079bf;
    padding: 8px;
    display: inline-flex;
    flex-direction: column;
  }
  
  .App-header h1 {
    margin: 0;
    padding: 0 10% 10%;
    color: white;
    font-size: 20px;
  }
  
  .App-list {
    display: flex;
  }

  